/* TODO Add site wide styles */
@import url('./css/SplashPage.css');
@import url('./css/Navigation.css');
@import url('./css/Modal.css');
@import url('./css/Tools.css');
@import url('./css/HomePage.css');
@import url('./css/PostViewPage.css');
@import url('./css/ProfilePage.css');


:root {
  --main-border: 1px solid #bfbfbf82;
  --btn-opacity-transition: opacity 1s ease-in-out;
  --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#root,
body,
html {
  height: 100%;
  margin: 0px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-family: var(--font-family-system);
}


#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

p {
    margin: 0px;
}

.bold{
  font-weight: bold;
}

button, .btn{
  cursor: pointer;
  transition: var(--btn-opacity-transiton);
}

button:hover, .btn:hover{
  opacity: .7
}

.profile-picture{
	height: 35px;
	object-fit: contain;
	border-radius: 50%;
	margin-right: 10px;
}

.react-icons{
  cursor: pointer;

}
