/* Home Page styles */
.home-page {
  width: 100%;
  height: 100%;
}


.home-page .post-card-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 20px 0px;
}

.home-page .post-card-container .post-card {
  width: 450px;
  height: fit-content;
  border: var(--main-border);
  border-radius: 10px;
  margin: 10px 0px;
  background-color: rgba(245, 245, 245, 0.363);

}

.post-card-top {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: var(--main-border);
}

.post-card .left-top {
  display: flex;
  align-items: center;
  margin-right: auto;

}

.post-card .left-top img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}

.post-card .post-card-top .react-icons {
  margin-right: 20px;
  font-size: 1.3rem;
}

.post-card .slider img {
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.post-card-bottom {
  display: flex;
  flex-direction: column;
  padding-left: 7.5px;
}

.post-card-content {
  margin: 5px 0px 10px 0px;

}

.post-card-btns {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}


.post-card-btns .react-icons {
  font-size: 1.75rem;
  margin-right: 20px;

}

.post-card .post-card-header {
  display: flex;

}

.post-card .post-card-header .bold {
  margin-right: 7.5px;
}

.post-card .light p {
  color: #a9a8a8;
  margin-bottom: 10px;
}

.created-at {
  font-size: 12px;
  text-transform: uppercase;
}

.comment-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-top: var(--main-border);
  padding: 10px 15px;
}

.comment-form input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background-color: white;
  background-color: rgba(245, 245, 245, 0.363);
}

.comment-form button {
  color: blue;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: white;
}

.comment-form .active {
  opacity: .5;
  cursor: not-allowed;
}

.comment-form .length {
  font-size: 10px;
  opacity: .8;
  align-self: flex-end;
}
