#modal {
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#modal-background {
	position: fixed;
	height: 100%;
	top: 20;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.528);
	backdrop-filter: blur(2px);
}

#modal-content {
	position: absolute;
	background-color: rgb(255, 255, 255);
	box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.495);
	border-radius: 20px;
}

/* CREATE and UPDATE post modal styles */
.post-modal {
	width: 600px;
	max-height: fit-content;
}

.post-modal .modal-header {
	display: flex;
	border-bottom: var(--main-border);
	font-weight: 600;
	padding: 15px;
}

.post-modal .modal-header p:first-of-type {
	margin-left: auto;
}

.post-modal .modal-header .modal-right-btn {
	color: blue;
	cursor: pointer;
	margin-left: auto;
	font-weight: 700;
	font-size: 16px;
}

.post-modal .modal-header .modal-left-btn{
	font-size: 1.8rem;
}

.post-modal .upload-image-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.post-modal .upload-image-wrapper .react-icons {
	font-size: 4.5rem;
}

.post-modal .image-uploader h3 {
	font-weight: 300;
	font-size: 1.3rem;
}


.post-modal .btn-wrapper {
	display: flex;
	margin: 10px 0px;
}

.post-modal .btn-wrapper button {
	flex-grow: 1;
	height: 50px;
	padding: 5px;
	margin: 10px;
	border: none;
	border-radius: 2px;
}

.post-modal .upload-image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.post-modal .image-item img {
	width: 75px;
	height: 75px;
	object-fit: cover;
}

.post-modal .image-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: var(--main-border);
	padding: 5px;
	margin: 5px;
}

.post-modal .image-item-btn-wrapper {
	width: fit-content;
	padding-top: 5px;
}

.post-modal .submit-header{
	display: flex;
	align-items: center;
}
.submit-modal {
	display: flex;
}

.post-modal .slider {
	position: relative;
}

.post-modal .slider img {
	width: 300px;
	height: 300px;
	border-radius: 0 0 0px 20px;
	object-fit: cover;
}

.submit-modal .form-modal{
	width: 100%;
	height: 100%;
}
.submit-modal .form-modal .top{
	display: flex;
	align-items: center;
	padding-left: 20px;
	margin: 10px 0px;
}

.submit-modal .form-modal .top p {
	font-weight: 600;
	font-size: 1.2rem;
}


.submit-modal form{
	height: 100%;
	box-sizing: border-box;
	width: 100%;
}

.submit-modal form textarea{
	width: 90% ;
	height: 100px;
	padding-left: 20px;
	border: none;
	resize: none;
	outline: none;
	background-color: transparent;

}


/* Options Modal styles */
.post-options-modal{
	width: 400px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.options{
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

 .options p{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.options:not(:last-child){
	border-bottom: var(--main-border);
}

.option-delete{
	color: red;
}

 .options:hover{
	background-color: #bfbfbf17;
}


/* Options Modal styles */
.delete-modal{
	width: 400px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.delete-modal .delete-header{
	text-align: center;
	width: 100%;
	height: 60%;
	border-bottom: var(--main-border);
}


.delete-modal .delete-header .bold{
margin: 30px 0px 10px 0px;
}


.delete-options{
	width:100%;
	height: auto;
}
