#modal {
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#modal-background {
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.528);
	backdrop-filter: blur(2px);
}

#modal-content {
	position: absolute;
	background-color: rgb(255, 255, 255);
	box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.495);
	border-radius: 20px;
}

/* Create post modal styles */
.post-modal {
	width: 550px;
	max-height: fit-content;
}

.post-modal .modal-header {
	text-align: center;
	border-bottom: var(--main-border);
	font-weight: 600;
	font-size: 14px;
	padding: 15px;

}

.post-modal .upload-image-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;

}

.post-modal .react-icons {
	font-size: 4.5rem;
	margin: 10px;
}

.post-modal .image-uploader h3 {
	font-weight: 300;
	font-size: 1.3rem;
}


.post-modal .btn-wrapper {
	display: flex;
	margin: 20px 0px;
}

.post-modal .btn-wrapper button {
	width: 50%;
	height: 50px;
	padding: 5px;
	margin: 10px;
	border: none;
	border-radius: 2px;
}

.post-modal .upload-image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;

	height: fit-content;
}

.post-modal .image-item img{
	width: 120px;
	height: 100px;
	object-fit: cover;
}
.post-modal .image-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: var(--main-border);
	padding: 10px;
	flex-grow: 1;
	margin: 5px 10px;


}

.post-modal .image-item-btn-wrapper {
	width:fit-content;
	padding-top: 5px;
}
