.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
  height: fit-content;
  width: auto;
  border-bottom: var(--main-border);
}

.navigation .right-nav{
  display: flex;
  align-items: center;
}


.navigation .nav-icons{
  font-size: 1.7rem;
  margin-right: 40px;
}

.navigation .active{
  background-color: black;
}

/* Profile Button styles */

.profile-btn {
	width: auto;
	height: fit-content;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 5px;
}

.profile-btn img{
  height: 25px;
  padding: 2px;
  border: 1px black double;
  border-radius: 50%;;
}


.profile-btn-nav {
	position: absolute;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 20;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	right: 65px;
	top: 65px;
	width: 200px;
	height: 150px;
}


.profile-nav-selection, .profile-nav-selection a  {
	display: flex;
	align-items: center;
	height: 100%;
	transition: all 0.2s ease-in-out;
  padding-left: 5px;
  width: 100%;
  color: black;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
}

.profile-nav-selection .react-icons{
  padding-right: 10px
}

.profile-nav-selection:hover {
  background-color: #bfbfbf18;
}
