/* Image Slider styles*/


.slider .react-icons {
	color: #bfbfbfbc;
	font-size: 1.7rem;
	z-index: 1;
	cursor: pointer;
	padding: 2px;
}

.slider .right-clicker {
	position: absolute;
	top: 50%;
	right: 2%;
}

.slider .left-clicker {
	position: absolute;
	top: 50%;
	left: 2%;
}

/*Image Uploader styles  */
.image-uploader-btn {
	background-color: rgba(5, 157, 5, 0.873);
	color: white;
}

.image-remove-btn{
	background-color: rgba(157, 5, 5, 0.873);
	color: white;
}

.image-btn{
  width: 100%;
  padding: 2px 5px;
}

.image-uploader .error{
  color: red;
}
